* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, sans-serif;
}
.container {
  margin: 0 auto;
  width: 86%;
  max-width: 1600px;
}
.container .header-top {
  display: flex;
}
.container .header-top div {
  padding: 15px 0;
  color: #ffffff;
  font-size: .7em;
}
.container .header-top div:nth-child(1) {
  width: 65%;
  padding-left: 80px;
  background: #1f7cba;
}
.container .header-top div:nth-child(2) {
  width: 35%;
  background: #39a7f1;
  padding: 15px;
}
.container .header-top div:nth-child(2) ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.container .header-top div:nth-child(2) ul li {
  text-transform: uppercase;
}
.container .header-top div:nth-child(2) ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.container .header-top div:nth-child(2) ul li a:hover {
  color: #34495e;
}
.container .header-center {
  display: flex;
  padding: 10px 25px 10px 55px;
  justify-content: space-between;
  align-items: center;
  background: #34495e;
}
.container .header-center ul {
  list-style-type: none;
  display: flex;
}
.container .header-center ul li {
  margin: 0 10px;
}
.container .header-center ul li a {
  font-size: 15px;
  color: #919fae;
  text-transform: uppercase;
  text-decoration: none;
}
.container .header-center ul li a:hover {
  color: #ffffff;
}
.container .header-center ul li .active {
  color: #ffffff;
}
.container .header-bottom {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding-bottom: 20px;
}
.container .header-bottom .prev-btn,
.container .header-bottom .next-btn {
  position: absolute;
  top: calc(50% - 25px);
  /*по цетру картинки и центру иконки*/
  background: rgba(59, 69, 95, 0.6);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
.container .header-bottom .prev-btn {
  left: 20px;
}
.container .header-bottom .next-btn {
  right: 20px;
}
.container .header-bottom img {
  position: relative;
  top: 520px;
  width: 120px;
  height: 120px;
  border: 5px solid #34495e;
  margin: 0 5px;
}
.container .header-bottom img:hover {
  border-color: #ffffff;
}
.container .best-seller {
  display: flex;
}
.container .best-seller > div {
  min-height: 255px;
  height: 180px;
}
.container .best-seller > div:nth-child(1) {
  background: rgba(255, 255, 255, 0.6);
  width: 40%;
  text-align: center;
  padding-bottom: 30px;
}
.container .best-seller > div:nth-child(1) p {
  margin: 20px 0 30px;
  background: #39a7f1;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}
.container .best-seller > div:nth-child(1) p:before {
  content: url("../images/star.png");
  padding: 0 10px;
}
.container .best-seller > div:nth-child(1) p:hover:after {
  content: url("../images/star-orange.png");
  position: relative;
  left: -147px;
}
.container .best-seller > div:nth-child(1) img {
  width: 80%;
}
.container .best-seller > div:nth-child(2) {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  width: 60%;
  padding-left: 50px;
}
.container .best-seller > div:nth-child(2) h2 {
  font-size: 22px;
  padding-top: 22px;
}
.container .best-seller > div:nth-child(2):after {
  content: "SALE";
  position: absolute;
  top: 95px;
  left: 355px;
  font-size: 7vw;
  font-weight: bold;
  color: #d1c8ce;
  transform: rotate(-45deg);
}
.container .best-seller > div:nth-child(2) em {
  color: #39a7f1;
  font-size: 14px;
  font-weight: bold;
}
.container .best-seller > div:nth-child(2) P {
  font-size: 40px;
  padding: 15px 0 10px;
}
.container .best-seller > div:nth-child(2) button {
  border: 3px solid #39a7f1;
  width: 45%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #39a7f1;
  background: none;
  padding: 10px;
  margin-bottom: 10px;
}
.container .best-seller > div:nth-child(2) button:hover {
  color: #34495e;
  border: 3px solid #34495e;
  cursor: pointer;
}
.container .best-seller > div:nth-child(2) .rating {
  unicode-bidi: bidi-override;
}
.container .best-seller > div:nth-child(2) .rating span:hover:before {
  content: "\2605";
  position: absolute;
  color: #f6c107;
  cursor: pointer;
}
.container .best-seller > div:nth-child(2) p:nth-of-type(2) {
  font-size: 9px;
  padding-top: 10px;
}
.container .most-popular {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
}
.container .most-popular .popular-item {
  width: 31%;
  background: white;
  padding: 20px;
}
.container .most-popular .popular-item img {
  width: 85%;
  display: block;
  margin: 0 auto 40px;
  height: auto;
}
.container .most-popular .popular-item h2 {
  margin: 10px 0;
}
.container .most-popular .popular-item em {
  color: #39a7f1;
}
.container .most-popular .popular-item button {
  width: 100%;
  border: 3px solid #39a7f1;
  text-align: center;
  text-transform: uppercase;
  color: #39a7f1;
  cursor: pointer;
  outline: none;
  background: #ffffff;
  padding: 10px 0;
  font-size: .8em;
  font-weight: bold;
}
.container .most-popular .popular-item button:hover {
  color: #34495e;
  border: 3px solid #34495e;
}
.container .explore {
  background: url("../images/bg-footer.jpg") no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 700px;
}
.container .explore button {
  border: 7px solid white;
  margin: 300px auto;
  font-size: 3em;
  text-transform: uppercase;
  background: none;
  width: 400px;
  height: 100px;
}
.container .explore button a {
  color: white;
  text-decoration: none;
}
.container .explore button a:hover {
  color: #34495e;
}
.container .info ul {
  display: flex;
  justify-content: space-around;
  background: #34495e;
  padding: 30px 150px;
}
.container .info ul li {
  display: flex;
  list-style-type: none;
}
.container .info ul a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: normal;
}
.container .info ul a:hover {
  color: #1f7cba;
}
.container .info .craft {
  display: flex;
  justify-content: space-around;
  background: #1f7cba;
  padding: 10px;
}
.container .info .craft p {
  font-size: 12px;
  font-weight: lighter;
  color: white;
}
.container .info .craft p span {
  font-size: 14px;
  font-weight: bold;
}
.container .info .social {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
}
.container .info .social div {
  margin: 20px 10px;
  width: 30px;
  height: 30px;
  padding-top: 3px;
}
.container .info .social > div:nth-child(1) {
  border: 3px solid #364a7b;
  color: #364a7b;
  padding-left: 7px;
}
.container .info .social > div:nth-child(1):hover {
  border: 3px solid #ebebeb;
}
.container .info .social > div:nth-child(2) {
  border: 3px solid #3d5c70;
  padding-left: 6px;
}
.container .info .social > div:nth-child(2):hover {
  border: 3px solid #ebebeb;
}
.container .info .social > div:nth-child(3) {
  border: 3px solid #48cee9;
  padding-left: 4px;
}
.container .info .social > div:nth-child(3):hover {
  border: 3px solid #ebebeb;
}
/*# sourceMappingURL=style.css.map */